@import "tailwindcss";
@import "../styles/typography.css";

:root {
  --background: var(--light-background);
  --foreground: var(--light-foreground);

  /* Add hover styles */
  .transition-colors:hover {
    color: var(--hover-color);
  }
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-background);
    --foreground: var(--dark-foreground);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-transition {
  transition: background-color 2s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gt-ultra-standard);
}
